GEOCODER_PARAMS=plz,ort,stn,hnr
GEOCODER_STRATEGIES=[{"name":"exact_all","func":"exact","params":["plz","ort","stn","hnr"]},{"name":"exact_ohne_hnr","func":"exact","params":["plz","ort","stn"]},{"name":"fuzzy_all","func":"fuzzy","params":["plz","ort","stn","hnr"]},{"name":"fuzzy_ohne_hnr","func":"fuzzy","params":["plz","ort","stn"]},{"name":"fuzzy_ort_strasse","func":"fuzzy","params":["ort","stn"]},{"name":"fuzzy_plz_strasse","func":"fuzzy","params":["plz","stn"]}]
GEOCODER_DEFINITION=[{"solr_field":"id","output_name":"dai-ID"},{"solr_field":"oid","output_name":"Object-ID"},{"solr_field":"lod2_id","output_name":"Gebäudekennzeichen"},{"solr_field":"stn","output_name":"Strasse"},{"solr_field":"hnr","output_name":"Hausnummer"},{"solr_field":"adz","output_name":"Hausnummerzusatz"},{"solr_field":"plz","output_name":"PLZ"},{"solr_field":"ort","output_name":"Ort"},{"solr_field":"ott","output_name":"Ortsteil"},{"solr_field":"ags8","output_name":"Gemeinde-Schlüssel"},{"solr_field":"gemarkung","output_name":"Gemarkung"},{"solr_field":"gemaschl","output_name":"Gemarkungsschlüssel"},{"solr_field":"bdlm_id","output_name":"Siedlungsblock-ID"},{"solr_field":"flstkennz","output_name":"Flurstückskennzeichen"},{"solr_field":"wgs84_x","output_name":"x-Koordinate - Echtkoordinaten (Kataster)"},{"solr_field":"wgs84_y","output_name":"y-Koordinate - Echtkoordinaten (Kataster)"},{"solr_field":"id_raster","output_name":"Rasterzellen-ID (100x100m)"}]
